
  
<!--div class="car">
  <h1 class="car1Name">{{Car1.name}}</h1>
    <h2 class="car1Company">company: {{Car1.company}}</h2>
      <button *ngIf="isOn" (click)="togglePrice()">Collapse</button>
        <button *ngIf="!isOn" (click)="togglePrice()">Expand</button>
          <div *ngIf="isOn">
            <h3>{{Car1.price}}</h3>
              <div class="car1Specification">
              <p>Specifications:</p>
              <p *ngFor="let item of Car1.Specifications">
                {{item}}
              </p>
              </div>
          </div>
</div>

<div class="car">
  <h1 class="car1Name">{{Car2.name}}</h1>
    <h2 class="car1Company">company: {{Car2.company}}</h2>
      <button *ngIf="isOn1" (click)="togglePrice1()">Collapse</button>
        <button *ngIf="!isOn1" (click)="togglePrice1()">Expand</button>
          <div *ngIf="isOn1">
            <h3>{{Car2.price}}</h3>
              <div class="car1Specification" >
                <p>Specifications</p>
                <p *ngFor="let item of Car2.specification">
                  {{item}}
                </p>   
            </div>
</div>

<div class="car">
  <h1 class="car1Name">{{Car3.name}}</h1>
    <h2 class= "car1Company">company: {{Car3.company}}</h2>
      <button *ngIf="isOn2" (click)="togglePrice2()">Collapse</button>
        <button *ngIf="!isOn2" (click)="togglePrice2()">Expand</button>
          <div *ngIf="isOn2">
            <h3>{{Car3.price}}</h3>
              <div class="car1Specification">
                <p>Specifications</p>
                <p *ngFor="let item of Car3.specification">
                  {{item}}
                </p>
              </div>
            </div>
</div-->

<app-profile></app-profile>

 
 